{% load static %}
<a href="{% url 'headphones_page' %}" class="bi-headphones me-1">
    <span>120k</span>
</a>

<a href="{% url 'heart_page' %}" class="bi-heart me-1">
    <span>42.5k</span>
</a>

<a href="{% url 'chat_page' %}" class="bi-chat me-1">
    <span>11k</span>
</a>

<a href="{% url 'download_page' %}" class="bi-download">
    <span>50k</span>
</a> 
<a href="{% url 'headphones_page' %}" class="bi-headphones me-1">
    <span>140k</span>
</a>

<a href="{% url 'heart_page' %}" class="bi-heart me-1">
    <span>22.4k</span>
</a>

<a href="{% url 'chat_page' %}" class="bi-chat me-1">
    <span>16k</span>
</a>

<a href="{% url 'download_page' %}" class="bi-download">
    <span>62k</span>
</a>



